<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">开始使用!</h3>
    </div>
    <div class="panel-body">
        打开 config.py, 将 fav_id 设置为你想要下载的收藏夹的 id, 设置好你的 cookie, 再将 down_folder 设置为项目目录。
        <br />最后， python fav_down.py 就可以自动下载收藏夹里的视频了。
        <br />本项目需要 aria2 的支持。
        <br />本项目还存在着一些 bugs, 但我不一定会修,,,如果你能帮我解决那我会非常感谢。
    </div>
</div>
<div class="alert alert-success" role="alert">
	<b>ヾ (o ° ω ° O ) ノ゙</b>Hi! 到<a target="_blank" href="https://github.com/panedioic/Bilibili-favlist-auto-downloader">Github</a> 给我们一颗星吧~
    <a href="https://github.com/panedioic/Bilibili-favlist-auto-downloader" target="_blank"><img src="image/star.png" /></a>
</div>
<div class="alert alert-info" role="alert">
	<b>感谢使用!</b> 你可以把它部署在自己的网站上, 或者也可以Ctrl+D收藏本站以后使用. <br />持续更新中, 需要什么功能跟我说吧
</div>
<div class="panel panel-default" ng-controller="HomeController">
    <div class="panel-heading">十秒钟看完教程</div>
    <div class="panel-body">
        直接复制<mark>播放页面</mark>的网址, 然后<mark>粘贴</mark>到上的框里点击[解析]即可获得下载地址
        <br />如果想要一次性下载全部分集, 点击批量下载即可!
    </div>
</div>

